<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h5 class="card-title mb-0">
          {{ '::Menu:Books' | abpLocalization }}
        </h5>
      </div>
      <div class="col-md-6 text-end">
        <!-- <input type="text" class="form-control form-control-sm d-inline-block w-auto" placeholder="Search books..." /> -->
        <div class="text-lg-end pt-2">
          <button id="create" class="btn btn-primary" type="button" (click)="createBook()">
            <i class="fas fa-plus me-1"></i>
            {{ '::Create' | abpLocalization }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="book.items" [count]="book.totalCount" [footerHeight]="50" [headerHeight]="50"
      [rowHeight]="'auto'" [scrollbarH]="true" class="material striped">
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name" [width]="200">
        {{ '::Name' | abpLocalization }}
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Type' | abpLocalization" prop="type">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="badge bg-light text-dark">
            {{ '::Enum:BookType.' + row.type | abpLocalization }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::PublishDate' | abpLocalization" prop="publishDate">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="text-muted">
            {{ row.publishDate }}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Price' | abpLocalization" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="fw-medium">
            {{ row.price }}
          </span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ '::NewBook' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="book-name">Name</label><span> * </span>
        <input type="text" id="book-name" class="form-control" formControlName="name" autofocus />
      </div>

      <div class="mt-2">
        <label for="book-price">Price</label><span> * </span>
        <input type="number" id="book-price" class="form-control" formControlName="price" />
      </div>

      <div class="mt-2">
        <label for="book-type">Type</label><span> * </span>
        <select class="form-control" id="book-type" formControlName="type">
          <option [ngValue]="null">Select a book type</option>
          <option [ngValue]="type.value" *ngFor="let type of bookTypes"> {{ '::Enum:BookType.' + type.value |
            abpLocalization }}</option>
        </select>
      </div>

      <div class="mt-2">
        <label for="publishDate">Publish date</label><span> * </span>
        <div class="input-group">
          <input id="publishDate" class="form-control" placeholder="YYYY-MM-DD" formControlName="publishDate"
            ngbDatepicker #datepicker="ngbDatepicker" />
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
            <i class="fas fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>


</abp-modal>